<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888187639331-cpcmfk3hmk9645g6gnigbop1fbk8ug4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888187639331-cpcmfk3hmk9645g6gnigbop1fbk8ug4b</string>
	<key>API_KEY</key>
	<string>AIzaSyBhLrZFjpOtVhR0rN2jpYC-3Lk6KzfGU1U</string>
	<key>GCM_SENDER_ID</key>
	<string>888187639331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fatihyavuz.Happy</string>
	<key>PROJECT_ID</key>
	<string>happyios</string>
	<key>STORAGE_BUCKET</key>
	<string>happyios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:888187639331:ios:dc602e95c097072fd7c396</string>
</dict>
</plist>
